### without sort

In [2]:
#%matplotlib inline

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

root_path = r'K:\Learn\ADC\phase3\hbasecompare\testing-data'
vw_file = root_path + '\\' + r'4295889557inc.csv'
hbase_file = root_path + '\\' + r'4295889557-INC.csv'
header = Series(['fundamentalid','organizationid','gaapcodeid','gaapcode','isusedforanalytics','fundamentalseriesid','fundamentalseriesviewtype','fundamentalseriesviewtypeid','fundamentalseriesconsolidationbasis','fundamentalseriesconsolidationbasisid','periodenddate','periodtype','periodtypeid','statementcurrencyid','ispreliminary','updatetypecode','updatetypeid','statementsystemderivedtypecode','statementsystemderivedtypecodeid','statementtypecode','statementtypecodeid','financialperiodid','financialsourceid','sourcetypecode','sourcetypeid','thirdpartysourcecode','thirdpartysourcecodeid','cumulativetype','cumulativetypeid','interimnumber','interimperiodfiscalyear','financialconceptglobal','financialconceptglobalid','financialconceptcodeglobalsecondary','financialconceptcodeglobalsecondaryid','financialconceptlocal','financialconceptlocalid','asriscredit','lineitemlineitemid','locallanguagelabel','locallanguagelabellanguageid','lineitemname','lineitemnamelanguageid','physicalmeasureid','orglineitemsequence','asradjustedforcorporateactionvalue','lineitemvalue','asreportedlineitemname','asreportedlineitemnamelanguageid','lineitemlocallanguagelabel','lineitemlocallanguagelabellanguageid','asrlineitemsequence','asreportedlineitemsource','capitalchangeadjustmentdate','estimatemethodcode','estimatemethodid','estimatemethodnote','estimatemethodnotelanguageid','isasreportedcurrencysetmanually','iscombineditem','isderived','isfinal','istotal','editeddescription','editeddescriptionlanguageid','reporteddescription','reporteddescriptionlanguageid','bookmark','docbytelength','docbyteoffset','itemdisplayednegativeflag','itemdisplayedvalue','itemscalingfactor','reportedvalue','parentlineitemid','asreportedphysicalmeasureid','reportedcurrencyid','statementsectioniscredit','statementsectioncode','statementsectionid','systemderivedtypecode','systemderivedtypecodeid','unit','unitenumerationid','parentlineitemname','parentlineitemnamelanguageid','parentlinelocallanguagelabel','parentlinelocallanguagelabellanguageid'])
rowkey_logicalfield = ['fundamentalseriesid', 'statementtypecode' ,'financialconceptlocalid', 'periodenddate', 'financialsourceid', 'financialperiodid', 'lineitemlineitemid']

In [2]:
vw_data = pd.read_csv(vw_file, header = None, skiprows = 1, delimiter='|', names=header, keep_default_na=False, na_values='').fillna('NAN').applymap(str)
vw_data.reportedcurrencyid = vw_data.reportedcurrencyid.apply(lambda x: x.split('.')[0])
vw_data.asrlineitemsequence = vw_data.asrlineitemsequence.apply(lambda x: x.split('.')[0])
vw_data.asreportedlineitemsource = vw_data.asreportedlineitemsource.apply(lambda x: x.split('.')[0])
vw_data.capitalchangeadjustmentdate = vw_data.capitalchangeadjustmentdate.apply(lambda x: x.split('.')[0])
vw_data.parentlinelocallanguagelabellanguageid = vw_data.parentlinelocallanguagelabellanguageid.apply(lambda x: x.split('.')[0])
vw_data.parentlineitemnamelanguageid = vw_data.parentlineitemnamelanguageid.apply(lambda x: x.split('.')[0])
vw_data.docbytelength = vw_data.docbytelength.apply(lambda x: x.split('.')[0])
vw_data.docbyteoffset = vw_data.docbyteoffset.apply(lambda x: x.split('.')[0])
vw_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)

vw_data.rowkey_logicalfield = vw_data.fundamentalseriesid.replace(np.NAN, 'NAN') + '~' + \
                                vw_data.statementtypecode.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialconceptlocalid.replace(['nan', np.NAN, ''], 'NAN')  + '~' + \
                                vw_data.periodenddate.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialsourceid.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialperiodid.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.lineitemlineitemid.replace(np.NAN, 'NAN') 
print vw_data.rowkey_logicalfield.duplicated().value_counts()
vw_data.head()

False    17828
Name: rowkey_logicalfield, dtype: int64

,rowkey_logicalfield,fundamentalid,organizationid,gaapcodeid,gaapcode,isusedforanalytics,fundamentalseriesid,fundamentalseriesviewtype,fundamentalseriesviewtypeid,fundamentalseriesconsolidationbasis,...,statementsectioncode,statementsectionid,systemderivedtypecode,systemderivedtypecodeid,unit,unitenumerationid,parentlineitemname,parentlineitemnamelanguageid,parentlinelocallanguagelabel,parentlinelocallanguagelabellanguageid
0,48433350305~INC~NAN~20120630~24~44~216,48435720455,4295889557,3011566,IAS,1,48433350305,2,1000190359,1,...,FTI,3013666,MR,3019679,1000.0,1010067,,,,
1,48433350304~INC~NAN~20120630~24~44~216,48435720455,4295889557,3011566,IAS,1,48433350304,1,1000190358,1,...,FTI,3013666,MR,3019679,1000.0,1010067,,,,
2,48433141526~INC~NAN~20120630~24~44~216,48435720455,4295889557,3011566,IAS,1,48433141526,2,1000190359,2,...,FTI,3013666,MR,3019679,1000.0,1010067,,,,
3,48433141524~INC~NAN~20120630~24~44~216,48435720455,4295889557,3011566,IAS,1,48433141524,1,1000190358,2,...,FTI,3013666,MR,3019679,1000.0,1010067,,,,
4,48433350305~INC~NAN~20121231~1~5~216,48435720433,4295889557,3011566,IAS,1,48433350305,2,1000190359,1,...,FTI,3013666,MR,3019679,1000.0,1010067,,,,

In [3]:
# format hbase data
hbase_data = pd.read_table(hbase_file, header=None, delimiter='|', names=header, dtype='string').fillna('').applymap(str)
import datetime
def dataconvert(val):
    if val != '':
        return datetime.datetime.fromtimestamp(float(val[:-3])).strftime('%Y%m%d')
    else:
        return np.NAN

hbase_data.replace('nil', '', inplace=True)
hbase_data.replace('True', '1', inplace=True)
hbase_data.replace('False', '0', inplace=True)
hbase_data.replace('OriginalToOriginal', '1', inplace=True)
hbase_data.replace('RecentToRecent', '2', inplace=True)
hbase_data.replace('ParentOnly', '3', inplace=True)
hbase_data.replace('Blended', '1', inplace=True)
hbase_data.replace('ConsolidatedOnly', '2', inplace=True)
hbase_data.locallanguagelabellanguageid.replace('505074', '505205', inplace=True)
hbase_data.lineitemnamelanguageid.replace('505205', '505074', inplace=True)
hbase_data.periodenddate = hbase_data.periodenddate.apply(lambda val: datetime.datetime.fromtimestamp(float(val[:-3])).strftime('%Y%m%d'))
hbase_data.capitalchangeadjustmentdate = hbase_data.capitalchangeadjustmentdate.apply(dataconvert)

#print hbase_data.head()
#hbase_data.info()
hbase_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)

hbase_data.rowkey_logicalfield = hbase_data.fundamentalseriesid.replace(np.NAN, 'NAN') + '~' + \
                                hbase_data.statementtypecode.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialconceptlocalid.replace('', 'NAN')  + '~' + \
                                hbase_data.periodenddate.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialsourceid.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialperiodid.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.lineitemlineitemid.replace(np.NAN, 'NAN') 
print hbase_data.rowkey_logicalfield.duplicated().value_counts()
hbase_data.head()

False    17828
Name: rowkey_logicalfield, dtype: int64

,rowkey_logicalfield,fundamentalid,organizationid,gaapcodeid,gaapcode,isusedforanalytics,fundamentalseriesid,fundamentalseriesviewtype,fundamentalseriesviewtypeid,fundamentalseriesconsolidationbasis,...,statementsectioncode,statementsectionid,systemderivedtypecode,systemderivedtypecodeid,unit,unitenumerationid,parentlineitemname,parentlineitemnamelanguageid,parentlinelocallanguagelabel,parentlinelocallanguagelabellanguageid
0,48433350304~INC~NAN~20011231~14~36~100,48435720524,4295889557,3011624,SPG,1,48433350304,1,1000190358,1,...,PSI,3013729,,3019679,1000.0,1010067,,,,
1,48433350304~INC~NAN~20011231~14~36~101,48435720524,4295889557,3011624,SPG,1,48433350304,1,1000190358,1,...,PSI,3013729,,3019679,1.0,1010066,,,,
2,48433350304~INC~NAN~20011231~14~36~102,48435720524,4295889557,3011624,SPG,1,48433350304,1,1000190358,1,...,PSI,3013729,MR,3019679,1.0,1010066,,,,
3,48433350304~INC~NAN~20011231~14~36~103,48435720524,4295889557,3011624,SPG,1,48433350304,1,1000190358,1,...,PSI,3013729,,3019679,1.0,1010066,,,,
4,48433350304~INC~NAN~20011231~14~36~104,48435720524,4295889557,3011624,SPG,1,48433350304,1,1000190358,1,...,PSI,3013729,,3019679,1.0,1010066,,,,

In [4]:
header_index = Series(['rowkey_logicalfield','fundamentalid','organizationid','gaapcodeid','gaapcode','isusedforanalytics','fundamentalseriesid','fundamentalseriesviewtype','fundamentalseriesviewtypeid','fundamentalseriesconsolidationbasis','fundamentalseriesconsolidationbasisid','periodenddate','periodtype','periodtypeid','statementcurrencyid','ispreliminary','updatetypecode','updatetypeid','statementsystemderivedtypecode','statementsystemderivedtypecodeid','statementtypecode','statementtypecodeid','financialperiodid','financialsourceid','sourcetypecode','sourcetypeid','thirdpartysourcecode','thirdpartysourcecodeid','cumulativetype','cumulativetypeid','interimnumber','interimperiodfiscalyear','financialconceptglobal','financialconceptglobalid','financialconceptcodeglobalsecondary','financialconceptcodeglobalsecondaryid','financialconceptlocal','financialconceptlocalid','asriscredit','lineitemlineitemid','locallanguagelabel','locallanguagelabellanguageid','lineitemname','lineitemnamelanguageid','physicalmeasureid','orglineitemsequence','asradjustedforcorporateactionvalue','lineitemvalue','asreportedlineitemname','asreportedlineitemnamelanguageid','lineitemlocallanguagelabel','lineitemlocallanguagelabellanguageid','asrlineitemsequence','asreportedlineitemsource','capitalchangeadjustmentdate','estimatemethodcode','estimatemethodid','estimatemethodnote','estimatemethodnotelanguageid','isasreportedcurrencysetmanually','iscombineditem','isderived','isfinal','istotal','editeddescription','editeddescriptionlanguageid','reporteddescription','reporteddescriptionlanguageid','bookmark','docbytelength','docbyteoffset','itemdisplayednegativeflag','itemdisplayedvalue','itemscalingfactor','reportedvalue','parentlineitemid','asreportedphysicalmeasureid','reportedcurrencyid','statementsectioniscredit','statementsectioncode','statementsectionid','systemderivedtypecode','systemderivedtypecodeid','unit','unitenumerationid','parentlineitemname','parentlineitemnamelanguageid','parentlinelocallanguagelabel','parentlinelocallanguagelabellanguageid'])

In [5]:
hbase_index = pd.DataFrame(vw_data.rowkey_logicalfield, columns=['rowkey_logicalfield'])
#print hbase_index.head(2)
hbase_sorted_vw = pd.merge(hbase_index, hbase_data)
#print hbase_sorted_vw.head(2)
compare_matrix = pd.DataFrame(vw_data.values == hbase_sorted_vw.values, columns=header_index)
compare_matrix.head()

,rowkey_logicalfield,fundamentalid,organizationid,gaapcodeid,gaapcode,isusedforanalytics,fundamentalseriesid,fundamentalseriesviewtype,fundamentalseriesviewtypeid,fundamentalseriesconsolidationbasis,...,statementsectioncode,statementsectionid,systemderivedtypecode,systemderivedtypecodeid,unit,unitenumerationid,parentlineitemname,parentlineitemnamelanguageid,parentlinelocallanguagelabel,parentlinelocallanguagelabellanguageid
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [10]:
compare_sum = compare_matrix.sum()
compare_sum.plot(kind='barh', rot=0, fontsize=8)
my_dpi=1200
plt.figure(figsize=(10, 8), dpi=my_dpi)
plt.show()
#plt.savefig('sum.jpg', figsize=(6, 4), dpi=my_dpi)

In [ ]:
vw_data.to_csv(root_path + '\\vw.csv', sep='\t')
hbase_sorted_vw.to_csv(root_path + '\\hbase.csv', sep='\t')

In [3]:
%notebook

['data1.csv',
 'figure_1.png',
 'hello.csv',
 'hello.txt',
 'sum.jpg',
 'sum1.jpg',
 'testing.ipynb',
 'version 2.ipynb',
 'version 3.ipynb',
 'version 4.ipynb',
 'version1.ipynb']