In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

root_path = r'K:\Learn\ADC\phase3\hbasecompare\testing-data'
vw_file = root_path + '\\' + r'4295889557inc.csv'
hbase_file = root_path + '\\' + r'4295889557-INC.csv'
header = Series(['fundamentalid','organizationid','gaapcodeid','gaapcode','isusedforanalytics','fundamentalseriesid','fundamentalseriesviewtype','fundamentalseriesviewtypeid','fundamentalseriesconsolidationbasis','fundamentalseriesconsolidationbasisid','periodenddate','periodtype','periodtypeid','statementcurrencyid','ispreliminary','updatetypecode','updatetypeid','statementsystemderivedtypecode','statementsystemderivedtypecodeid','statementtypecode','statementtypecodeid','financialperiodid','financialsourceid','sourcetypecode','sourcetypeid','thirdpartysourcecode','thirdpartysourcecodeid','cumulativetype','cumulativetypeid','interimnumber','interimperiodfiscalyear','financialconceptglobal','financialconceptglobalid','financialconceptcodeglobalsecondary','financialconceptcodeglobalsecondaryid','financialconceptlocal','financialconceptlocalid','asriscredit','lineitemlineitemid','locallanguagelabel','locallanguagelabellanguageid','lineitemname','lineitemnamelanguageid','physicalmeasureid','orglineitemsequence','asradjustedforcorporateactionvalue','lineitemvalue','asreportedlineitemname','asreportedlineitemnamelanguageid','lineitemlocallanguagelabel','lineitemlocallanguagelabellanguageid','asrlineitemsequence','asreportedlineitemsource','capitalchangeadjustmentdate','estimatemethodcode','estimatemethodid','estimatemethodnote','estimatemethodnotelanguageid','isasreportedcurrencysetmanually','iscombineditem','isderived','isfinal','istotal','editeddescription','editeddescriptionlanguageid','reporteddescription','reporteddescriptionlanguageid','bookmark','docbytelength','docbyteoffset','itemdisplayednegativeflag','itemdisplayedvalue','itemscalingfactor','reportedvalue','parentlineitemid','asreportedphysicalmeasureid','reportedcurrencyid','statementsectioniscredit','statementsectioncode','statementsectionid','systemderivedtypecode','systemderivedtypecodeid','unit','unitenumerationid','parentlineitemname','parentlineitemnamelanguageid','parentlinelocallanguagelabel','parentlinelocallanguagelabellanguageid'])
#rowkey_logicalfield = ['fundamentalseriesid', 'statementtypecode' ,'financialconceptlocalid', 'periodenddate', 'financialsourceid', 'financialperiodid', 'lineitemlineitemid']
rowkey_logicalfield = ['fundamentalseriesid', 'statementsectioncode' ,'fundamentalid', 'periodenddate', 'financialsourceid', 'financialperiodid', 'lineitemlineitemid']

In [2]:
vw_data = pd.read_csv(vw_file, header = None, skiprows = 1, delimiter='|', names=header, keep_default_na=False, na_values='').fillna('').applymap(str)
vw_data.reportedcurrencyid = vw_data.reportedcurrencyid.apply(lambda x: x.split('.')[0])
vw_data.asrlineitemsequence = vw_data.asrlineitemsequence.apply(lambda x: x.split('.')[0])
vw_data.asreportedlineitemsource = vw_data.asreportedlineitemsource.apply(lambda x: x.split('.')[0])
vw_data.capitalchangeadjustmentdate = vw_data.capitalchangeadjustmentdate.apply(lambda x: x.split('.')[0])
vw_data.parentlinelocallanguagelabellanguageid = vw_data.parentlinelocallanguagelabellanguageid.apply(lambda x: x.split('.')[0])
vw_data.parentlineitemnamelanguageid = vw_data.parentlineitemnamelanguageid.apply(lambda x: x.split('.')[0])
vw_data.docbytelength = vw_data.docbytelength.apply(lambda x: x.split('.')[0])
vw_data.docbyteoffset = vw_data.docbyteoffset.apply(lambda x: x.split('.')[0])
vw_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)

vw_data.rowkey_logicalfield = vw_data.fundamentalseriesid.replace(np.NAN, 'NAN') + '~' + \
                                vw_data.statementtypecode.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialconceptlocalid.replace(['nan', np.NAN, ''], 'NAN')  + '~' + \
                                vw_data.periodenddate.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialsourceid.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialperiodid.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.lineitemlineitemid.replace(np.NAN, 'NAN') 
print vw_data.rowkey_logicalfield.duplicated().value_counts()
vw_data_sorted = vw_data.sort_values(["rowkey_logicalfield"],ascending=True)
vw_data_sorted.head()

False    17828
Name: rowkey_logicalfield, dtype: int64

,rowkey_logicalfield,fundamentalid,organizationid,gaapcodeid,gaapcode,isusedforanalytics,fundamentalseriesid,fundamentalseriesviewtype,fundamentalseriesviewtypeid,fundamentalseriesconsolidationbasis,...,statementsectioncode,statementsectionid,systemderivedtypecode,systemderivedtypecodeid,unit,unitenumerationid,parentlineitemname,parentlineitemnamelanguageid,parentlinelocallanguagelabel,parentlinelocallanguagelabellanguageid
2707,48433141524~INC~NAN~20010630~57~81~100,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,NA,3019679,1000.0,1010067,,,,
6927,48433141524~INC~NAN~20010630~57~81~101,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,NA,3019679,1.0,1010066,,,,
3579,48433141524~INC~NAN~20010630~57~81~102,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,MR,3019679,1.0,1010066,,,,
4125,48433141524~INC~NAN~20010630~57~81~103,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,NA,3019679,1.0,1010066,,,,
11779,48433141524~INC~NAN~20010630~57~81~104,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,NA,3019679,1.0,1010066,,,,

In [3]:
# format hbase data
hbase_data = pd.read_table(hbase_file, header=None, delimiter='|', names=header, dtype='string').fillna('').applymap(str)
import datetime
def dataconvert(val):
    if val != '':
        return datetime.datetime.fromtimestamp(float(val[:-3])).strftime('%Y%m%d')
    else:
        return np.NAN

hbase_data.replace('nil', '', inplace=True)
hbase_data.replace('True', '1', inplace=True)
hbase_data.replace('False', '0', inplace=True)
hbase_data.replace('OriginalToOriginal', '1', inplace=True)
hbase_data.replace('RecentToRecent', '2', inplace=True)
hbase_data.replace('Blended', '1', inplace=True)
hbase_data.replace('ConsolidatedOnly', '2', inplace=True)
hbase_data.locallanguagelabellanguageid.replace('505074', '505205', inplace=True)
hbase_data.lineitemnamelanguageid.replace('505205', '505074', inplace=True)
hbase_data.periodenddate = hbase_data.periodenddate.apply(lambda val: datetime.datetime.fromtimestamp(float(val[:-3])).strftime('%Y%m%d'))
hbase_data.capitalchangeadjustmentdate = hbase_data.capitalchangeadjustmentdate.apply(dataconvert)

#print hbase_data.head()
#hbase_data.info()
hbase_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)

hbase_data.rowkey_logicalfield = hbase_data.fundamentalseriesid.replace(np.NAN, 'NAN') + '~' + \
                                hbase_data.statementtypecode.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialconceptlocalid.replace('', 'NAN')  + '~' + \
                                hbase_data.periodenddate.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialsourceid.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialperiodid.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.lineitemlineitemid.replace(np.NAN, 'NAN') 
print hbase_data.rowkey_logicalfield.duplicated().value_counts()
hbase_data_sorted = hbase_data.sort_values(["rowkey_logicalfield"],ascending=True)
hbase_data_sorted.head()

False    17828
Name: rowkey_logicalfield, dtype: int64

,rowkey_logicalfield,fundamentalid,organizationid,gaapcodeid,gaapcode,isusedforanalytics,fundamentalseriesid,fundamentalseriesviewtype,fundamentalseriesviewtypeid,fundamentalseriesconsolidationbasis,...,statementsectioncode,statementsectionid,systemderivedtypecode,systemderivedtypecodeid,unit,unitenumerationid,parentlineitemname,parentlineitemnamelanguageid,parentlinelocallanguagelabel,parentlinelocallanguagelabellanguageid
2970,48433141524~INC~NAN~20010630~57~81~100,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,,3019679,1000.0,1010067,,,,
2971,48433141524~INC~NAN~20010630~57~81~101,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,,3019679,1.0,1010066,,,,
2972,48433141524~INC~NAN~20010630~57~81~102,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,MR,3019679,1.0,1010066,,,,
2973,48433141524~INC~NAN~20010630~57~81~103,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,,3019679,1.0,1010066,,,,
2974,48433141524~INC~NAN~20010630~57~81~104,48435720524,4295889557,3011624,SPG,1,48433141524,1,1000190358,2,...,PSI,3013729,,3019679,1.0,1010066,,,,

In [4]:
compare_matrix = vw_data_sorted.values == hbase_data_sorted.values
print compare_matrix

vw_data_sorted.to_csv(root_path + '\\vw_sorted.csv', sep='\t')
hbase_data_sorted.to_csv(root_path + '\\hbase_sorted.csv', sep='\t')

[[ True  True  True ...,  True  True  True]
 [ True  True  True ...,  True  True  True]
 [ True  True  True ...,  True  True  True]
 ...,
 [ True  True  True ...,  True  True  True]
 [ True  True  True ...,  True  True  True]
 [ True  True  True ...,  True  True  True]]

# tools

In [163]:
date_val = '1009756800000'
import time
print time.time()
import datetime
st = datetime.datetime.fromtimestamp(float(date_val[:-3])).strftime('%Y%m%d')
print str(st)

1474270418.55
20011231

In [13]:
datatmp = pd.DataFrame([['a', 'b'], ['c', 'd'], ['e', np.NAN]], index=[1, 2, 3], columns=['x', 'y'])
print datatmp
datatmp.insert(0, 'add1', np.NAN, allow_duplicates=False)

   x    y
1  a    b
2  c    d
3  e  NaN

In [22]:
print datatmp['y'].dtype
datatmp.add1 = datatmp['x'] + datatmp['y'].replace(np.NAN, 'NAN')

datatmp

object

   add1  x    y
1    ab  a    b
2    cd  c    d
3  eNan  e  NaN