In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

root_path = r'K:\Learn\ADC\phase3\hbasecompare\testing-data'
vw_file = root_path + '\\' + r'tabletest40org.ingres'
hbase_file = root_path + '\\' + r'part-00000.csv'
header = Series(['fundamentalid','organizationid','gaapcodeid','gaapcode','isusedforanalytics','fundamentalseriesid','fundamentalseriesviewtype','fundamentalseriesviewtypeid','fundamentalseriesconsolidationbasis','fundamentalseriesconsolidationbasisid','periodenddate','periodtype','periodtypeid','statementcurrencyid','ispreliminary','updatetypecode','updatetypeid','statementsystemderivedtypecode','statementsystemderivedtypecodeid','statementtypecode','statementtypecodeid','financialperiodid','financialsourceid','sourcetypecode','sourcetypeid','thirdpartysourcecode','thirdpartysourcecodeid','cumulativetype','cumulativetypeid','interimnumber','interimperiodfiscalyear','financialconceptglobal','financialconceptglobalid','financialconceptcodeglobalsecondary','financialconceptcodeglobalsecondaryid','financialconceptlocal','financialconceptlocalid','asriscredit','lineitemlineitemid','locallanguagelabel','locallanguagelabellanguageid','lineitemname','lineitemnamelanguageid','physicalmeasureid','orglineitemsequence','asradjustedforcorporateactionvalue','lineitemvalue','asreportedlineitemname','asreportedlineitemnamelanguageid','lineitemlocallanguagelabel','lineitemlocallanguagelabellanguageid','asrlineitemsequence','asreportedlineitemsource','capitalchangeadjustmentdate','estimatemethodcode','estimatemethodid','estimatemethodnote','estimatemethodnotelanguageid','isasreportedcurrencysetmanually','iscombineditem','isderived','isfinal','istotal','editeddescription','editeddescriptionlanguageid','reporteddescription','reporteddescriptionlanguageid','bookmark','docbytelength','docbyteoffset','itemdisplayednegativeflag','itemdisplayedvalue','itemscalingfactor','reportedvalue','parentlineitemid','asreportedphysicalmeasureid','reportedcurrencyid','statementsectioniscredit','statementsectioncode','statementsectionid','systemderivedtypecode','systemderivedtypecodeid','unit','unitenumerationid','parentlineitemname','parentlineitemnamelanguageid','parentlinelocallanguagelabel','parentlinelocallanguagelabellanguageid'])
header_index = Series(['rowkey_logicalfield','fundamentalid','organizationid','gaapcodeid','gaapcode','isusedforanalytics','fundamentalseriesid','fundamentalseriesviewtype','fundamentalseriesviewtypeid','fundamentalseriesconsolidationbasis','fundamentalseriesconsolidationbasisid','periodenddate','periodtype','periodtypeid','statementcurrencyid','ispreliminary','updatetypecode','updatetypeid','statementsystemderivedtypecode','statementsystemderivedtypecodeid','statementtypecode','statementtypecodeid','financialperiodid','financialsourceid','sourcetypecode','sourcetypeid','thirdpartysourcecode','thirdpartysourcecodeid','cumulativetype','cumulativetypeid','interimnumber','interimperiodfiscalyear','financialconceptglobal','financialconceptglobalid','financialconceptcodeglobalsecondary','financialconceptcodeglobalsecondaryid','financialconceptlocal','financialconceptlocalid','asriscredit','lineitemlineitemid','locallanguagelabel','locallanguagelabellanguageid','lineitemname','lineitemnamelanguageid','physicalmeasureid','orglineitemsequence','asradjustedforcorporateactionvalue','lineitemvalue','asreportedlineitemname','asreportedlineitemnamelanguageid','lineitemlocallanguagelabel','lineitemlocallanguagelabellanguageid','asrlineitemsequence','asreportedlineitemsource','capitalchangeadjustmentdate','estimatemethodcode','estimatemethodid','estimatemethodnote','estimatemethodnotelanguageid','isasreportedcurrencysetmanually','iscombineditem','isderived','isfinal','istotal','editeddescription','editeddescriptionlanguageid','reporteddescription','reporteddescriptionlanguageid','bookmark','docbytelength','docbyteoffset','itemdisplayednegativeflag','itemdisplayedvalue','itemscalingfactor','reportedvalue','parentlineitemid','asreportedphysicalmeasureid','reportedcurrencyid','statementsectioniscredit','statementsectioncode','statementsectionid','systemderivedtypecode','systemderivedtypecodeid','unit','unitenumerationid','parentlineitemname','parentlineitemnamelanguageid','parentlinelocallanguagelabel','parentlinelocallanguagelabellanguageid'])
rowkey_logicalfield = ['fundamentalseriesid', 'statementtypecode' ,'financialconceptlocalid', 'periodenddate', 'financialsourceid', 'financialperiodid', 'lineitemlineitemid']

In [2]:
vw_data = pd.read_csv(vw_file, header = None, skiprows = 1, delimiter=',', names=header, keep_default_na=False, na_values='')

K:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2871: DtypeWarning: Columns (33,35,49,63,65,67,84,86) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
vw_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)

vw_data.rowkey_logicalfield = vw_data.fundamentalseriesid.apply(str).replace(np.NAN, 'NAN') + '~' + \
                                vw_data.statementtypecode.apply(str).replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialconceptlocalid.apply(str).replace(['nan', np.NAN, ''], 'NAN')  + '~' + \
                                vw_data.periodenddate.apply(str).replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialsourceid.apply(str).replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialperiodid.apply(str).replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.lineitemlineitemid.apply(str).replace(np.NAN, 'NAN') 
print vw_data.rowkey_logicalfield.duplicated().value_counts()
vw_data.head()

False    1821073
dtype: int64

,rowkey_logicalfield,fundamentalid,organizationid,gaapcodeid,gaapcode,isusedforanalytics,fundamentalseriesid,fundamentalseriesviewtype,fundamentalseriesviewtypeid,fundamentalseriesconsolidationbasis,...,statementsectioncode,statementsectionid,systemderivedtypecode,systemderivedtypecodeid,unit,unitenumerationid,parentlineitemname,parentlineitemnamelanguageid,parentlinelocallanguagelabel,parentlinelocallanguagelabellanguageid
0,NaN,48434098578,4295869694,3011566,IAS,1,48433151341,2,1000190359,2,...,C,3013637,MP,3019677,1000000.0,1010068,NaN,NaN,NaN,NaN
1,NaN,48434098578,4295869694,3011566,IAS,1,48433151341,2,1000190359,2,...,R,3013735,MP,3019677,1000000.0,1010068,NaN,NaN,NaN,NaN
2,NaN,48434098578,4295869694,3011566,IAS,1,48433151341,2,1000190359,2,...,R,3013735,MP,3019677,1000000.0,1010068,NaN,NaN,NaN,NaN
3,NaN,48434098578,4295869694,3011566,IAS,1,48433151341,2,1000190359,2,...,O,3013709,MP,3019677,1000000.0,1010068,NaN,NaN,NaN,NaN
4,NaN,48434098578,4295869694,3011566,IAS,1,48433151341,2,1000190359,2,...,O,3013709,MP,3019677,1000000.0,1010068,NaN,NaN,NaN,NaN

In [5]:
hbase_data = pd.read_table(hbase_file, header=None, delimiter='|', names=header, dtype='string')

In [28]:
try:
    hbase_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)
except:
    pass

import datetime
hbase_data.rowkey_logicalfield = hbase_data.fundamentalseriesid.apply(str).replace(np.NAN, 'NAN') + '~' + \
                                hbase_data.statementtypecode.apply(str).replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialconceptlocalid.apply(str).replace(['nan', np.NAN, '', 'nil'], 'NAN')  + '~' + \
                                hbase_data.periodenddate.apply(lambda val: datetime.datetime.fromtimestamp(float(val[:-3])).strftime('%Y%m%d')).replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialsourceid.apply(str).replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialperiodid.apply(str).replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.lineitemlineitemid.apply(str).replace(np.NAN, 'NAN') 
print hbase_data.rowkey_logicalfield.duplicated().value_counts()
hbase_data.head()

False    1816659
Name: rowkey_logicalfield, dtype: int64

,rowkey_logicalfield,fundamentalid,organizationid,gaapcodeid,gaapcode,isusedforanalytics,fundamentalseriesid,fundamentalseriesviewtype,fundamentalseriesviewtypeid,fundamentalseriesconsolidationbasis,...,statementsectioncode,statementsectionid,systemderivedtypecode,systemderivedtypecodeid,unit,unitenumerationid,parentlineitemname,parentlineitemnamelanguageid,parentlinelocallanguagelabel,parentlinelocallanguagelabellanguageid
0,48433349353~INC~NAN~20150630~48~142~1414,48435944139,4295882444,3011566,IAS,True,48433349353,RecentToRecent,1000190359,Blended,...,FTI,3013666,NaN,3019679,1.0,1010066,nil,nil,nil,nil
1,48433349353~INC~NAN~20150630~48~142~1541,48435944139,4295882444,3011566,IAS,True,48433349353,RecentToRecent,1000190359,Blended,...,REV,3013735,NaN,3019679,1.0,1010066,nil,nil,nil,nil
2,48433349353~INC~NAN~20150630~48~142~1542,48435944139,4295882444,3011566,IAS,True,48433349353,RecentToRecent,1000190359,Blended,...,FIB,3013659,NaN,3019679,1.0,1010066,Finance Expense,505139,금융비용,505074
3,48433349353~INC~NAN~20150630~48~142~1546,48435944139,4295882444,3011566,IAS,True,48433349353,RecentToRecent,1000190359,Blended,...,REV,3013735,NaN,3019679,1.0,1010066,nil,nil,nil,nil
4,48433349353~INC~NAN~20150630~48~142~1624,48435944139,4295882444,3011566,IAS,True,48433349353,RecentToRecent,1000190359,Blended,...,PSI,3013729,NaN,3019679,1.0,1010066,nil,nil,nil,nil

In [29]:
hbase_index = pd.DataFrame(hbase_data.rowkey_logicalfield, columns=['rowkey_logicalfield'])
hbase_index.head(1)

                        rowkey_logicalfield
0  48433349353~INC~NAN~20150630~48~142~1414

In [61]:
hbase_index.insert(1, 'hb_marked', 'hb', allow_duplicates=False)
hbase_index.head(2)

                        rowkey_logicalfield hb_marked
0  48433349353~INC~NAN~20150630~48~142~1414        hb
1  48433349353~INC~NAN~20150630~48~142~1541        hb

In [53]:
vw_index = pd.DataFrame(vw_data.rowkey_logicalfield, columns=['rowkey_logicalfield'])
vw_index.head(1)

                        rowkey_logicalfield
0  48433151341~INC~NAN~20141231~186~361~198

In [54]:
#vw_index.insert(1, 'vw_marked', 'vw', allow_duplicates=False)
vw_index.head(2)

                        rowkey_logicalfield vw_marked
0  48433151341~INC~NAN~20141231~186~361~198        vw
1  48433151341~INC~NAN~20141231~186~361~197        vw

In [62]:
merge_data_out = pd.merge(vw_index, hbase_index, how='outer')
merge_data_out.info()
print merge_data_out.vw_marked.count()
print merge_data_out.rowkey_logicalfield.count()
merge_data_out.to_csv(root_path + '\\' + 'merge-out.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2029385 entries, 0 to 2029384
Data columns (total 3 columns):
rowkey_logicalfield    object
vw_marked              object
hb_marked              object
dtypes: object(3)
memory usage: 61.9+ MB
1821073
2029385

In [57]:
merge_data_in = pd.merge(hbase_index, vw_index, how='inner')
merge_data_in.info()
print merge_data_in.vw_marked.count()
print merge_data_in.rowkey_logicalfield.count()
merge_data_in.to_csv(root_path + '\\' + 'merge-in.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1608347 entries, 0 to 1608346
Data columns (total 2 columns):
rowkey_logicalfield    1608347 non-null object
vw_marked              1608347 non-null object
dtypes: object(2)
memory usage: 36.8+ MB
1608347
1608347

In [60]:
merge_hbase_data_in = pd.merge(merge_data_in, hbase_index,  how='inner')
print merge_hbase_data_in.info()
merge_hbase_data_in.to_csv(root_path + '\\' + 'merge-hbase-in.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1608347 entries, 0 to 1608346
Data columns (total 2 columns):
rowkey_logicalfield    1608347 non-null object
vw_marked              1608347 non-null object
dtypes: object(2)
memory usage: 36.8+ MB
None

# statistic 'merge-out.csv'

In [133]:
merge_out = pd.read_csv(root_path + '\\' + 'merge-out.csv').fillna('na')
del merge_out['Unnamed: 0']
merge_out.head()

                        rowkey_logicalfield vw_marked hb_marked
0  48433151341~INC~NAN~20141231~186~361~198        vw        hb
1  48433151341~INC~NAN~20141231~186~361~197        vw        hb
2  48433151341~INC~NAN~20141231~186~361~196        vw        hb
3  48433151341~INC~NAN~20141231~186~361~614        vw        hb
4  48433151341~INC~NAN~20141231~186~361~613        vw        hb

In [134]:
merge_out.describe()

                             rowkey_logicalfield vw_marked hb_marked
count                                    2029385   2029385   2029385
unique                                   2029385         2         2
top     48433170132~INC~NAN~19960930~110~172~489        vw        hb
freq                                           1   1821073   1816659

In [135]:
merge_out[merge_out['vw_marked'] == 'vw'].describe()

                             rowkey_logicalfield vw_marked hb_marked
count                                    1821073   1821073   1821073
unique                                   1821073         1         2
top     48433170132~INC~NAN~19960930~110~172~489        vw        hb
freq                                           1   1821073   1608347

In [39]:
print 1821073-1608347

212726

In [28]:
merge_out[merge_out['hb_marked'] == 'hb'].describe()

                                 rowkey_logicalfield vw_marked hb_marked
count                                        1816659   1608347   1816659
unique                                       1816659         1         1
top     48433197419~INC~3018255~20151231~170~273~193        vw        hb
freq                                               1   1608347   1816659

In [40]:
print 1816659 - 1608347

208312

In [43]:
pie_data = pd.Series([212726, 208312, 1608347], ['vw-only', 'hb-only', 'vw-hb'])
pie_data

vw-only     212726
hb-only     208312
vw-hb      1608347
dtype: int64

In [140]:
merge_out[(merge_out['hb_marked'] == 'hb') & (merge_out['vw_marked'] == 'na')].to_csv(root_path + '\\' + 'hb-no-vw.csv')
merge_out[(merge_out['hb_marked'] == 'hb') & (merge_out['vw_marked'] == 'na')].describe()

                                 rowkey_logicalfield vw_marked hb_marked
count                                         208312    208312    208312
unique                                        208312         1         1
top     48433197419~INC~3018255~20151231~170~273~193        na        hb
freq                                               1    208312    208312

In [141]:
merge_out[(merge_out['hb_marked'] == 'na') & (merge_out['vw_marked'] == 'vw')].to_csv(root_path + '\\' + 'vw-no-hb.csv')
merge_out[(merge_out['hb_marked'] == 'na') & (merge_out['vw_marked'] == 'vw')].describe()

                                 rowkey_logicalfield vw_marked hb_marked
count                                         212726    212726    212726
unique                                        212726         1         1
top     48433190885~BAL~3016622.0~20070930~33~116~40        vw        na
freq                                               1    212726    212726

In [142]:
merge_out[(merge_out['hb_marked'] == 'hb') & (merge_out['vw_marked'] == 'vw')].to_csv(root_path + '\\' + 'hbvw.csv')
merge_out[(merge_out['hb_marked'] == 'hb') & (merge_out['vw_marked'] == 'vw')].describe()

                           rowkey_logicalfield vw_marked hb_marked
count                                  1608347   1608347   1608347
unique                                 1608347         1         1
top     48433341882~BAL~NAN~20080331~30~127~29        vw        hb
freq                                         1   1608347   1608347

In [45]:
import matplotlib.pyplot as plt 
plt.figure(figsize=(10,10));
x = [212726, 208312, 1608347]
labels = ['vw-only', 'hb-only', 'vw-hb']
explode = [0.2, 0.1, 0.1] 
plt.pie(x, labels=labels, explode=explode, autopct='%1.1f%%'); 
plt.show()

In [125]:
merge_out_hb = merge_out[merge_out['hb_marked'] == 'hb'].fillna('na')
print merge_out_hb.describe()
merge_out_hb.tail()

                                 rowkey_logicalfield vw_marked hb_marked
count                                        1816659   1816659   1816659
unique                                       1816659         2         1
top     48433197419~INC~3018255~20151231~170~273~193        vw        hb
freq                                               1   1608347   1816659

                                 rowkey_logicalfield vw_marked hb_marked
2029380   48433190882~BAL~3018212~20111231~67~133~72        na        hb
2029381  48433186509~INC~3018263~20160131~97~192~180        na        hb
2029382  48433186509~INC~3018263~20160131~97~193~180        na        hb
2029383  48433186509~INC~3018263~20160131~98~192~180        na        hb
2029384  48433186509~INC~3018263~20160131~98~193~180        na        hb

In [130]:
merge_out_vw = merge_out[merge_out['vw_marked'] == 'vw'].fillna('na')
merge_out_vw.tail()

                             rowkey_logicalfield vw_marked hb_marked
1821068  48433198264~CAS~NAN~20141231~55~159~137        vw        hb
1821069  48433198264~CAS~NAN~20141231~55~159~136        vw        hb
1821070  48433198264~CAS~NAN~20141231~55~159~171        vw        hb
1821071  48433198264~CAS~NAN~20141231~55~159~170        vw        hb
1821072  48433198264~CAS~NAN~20141231~55~159~134        vw        hb

In [80]:
merge_out_hb_vw = merge_out[(merge_out['vw_marked'] == 'vw') & (merge_out['hb_marked'] == 'hb')]
print merge_out_hb_vw.describe()
merge_out_hb_vw.head()

                           rowkey_logicalfield vw_marked hb_marked
count                                  1608347   1608347   1608347
unique                                 1608347         1         1
top     48433341882~BAL~NAN~20080331~30~127~29        vw        hb
freq                                         1   1608347   1608347

                        rowkey_logicalfield vw_marked hb_marked
0  48433151341~INC~NAN~20141231~186~361~198        vw        hb
1  48433151341~INC~NAN~20141231~186~361~197        vw        hb
2  48433151341~INC~NAN~20141231~186~361~196        vw        hb
3  48433151341~INC~NAN~20141231~186~361~614        vw        hb
4  48433151341~INC~NAN~20141231~186~361~613        vw        hb

In [131]:
merge_out_hb_no_vw = merge_out_hb[merge_out_hb['vw_marked'] == 'na']
print merge_out_hb_no_vw.describe()
merge_out_hb_no_vw.head()

                                 rowkey_logicalfield vw_marked hb_marked
count                                         208312    208312    208312
unique                                        208312         1         1
top     48433197419~INC~3018255~20151231~170~273~193        na        hb
freq                                               1    208312    208312

                                 rowkey_logicalfield vw_marked hb_marked
1821073  48433197419~INC~3018881~20040331~65~113~294        na        hb
1821074  48433197419~INC~3018881~20040331~65~114~294        na        hb
1821075  48433197419~INC~3018881~20040331~66~113~294        na        hb
1821076  48433197419~INC~3018881~20040331~66~114~294        na        hb
1821077  48433197418~SHE~3017576~20071231~88~104~287        na        hb

In [132]:
merge_out_vw_no_hb = merge_out_vw[merge_out['hb_marked'] == 'na']
print merge_out_vw_no_hb.describe()
merge_out_vw_no_hb.head()

        rowkey_logicalfield  vw_marked  hb_marked
count                     0          0          0
unique                    0          0          0

K:\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

Empty DataFrame
Columns: [rowkey_logicalfield, vw_marked, hb_marked]
Index: []

In [166]:
vw_no_hb1 = pd.read_csv(root_path + '\\' + 'vw-no-hb - Copy.csv')
del vw_no_hb1['Unnamed: 0']
del vw_no_hb1['hb_marked']
vw_no_hb1.head()

                          rowkey_logicalfield vw_marked
0  48433190885~INC~3020474~20101231~55~44~295        vw
1  48433190885~INC~3018506~20101231~55~44~277        vw
2  48433190885~INC~3018526~20101231~55~44~276        vw
3  48433190885~INC~3018509~20101231~55~44~275        vw
4  48433190885~INC~3018511~20101231~55~44~274        vw

In [159]:
hb_no_vw1 = pd.read_csv(root_path + '\\' + 'hb-no-vw.csv')
del hb_no_vw1['Unnamed: 0']
del hb_no_vw1['vw_marked']
hb_no_vw1.head()

                           rowkey_logicalfield hb_marked
0  48433197419~INC~3018881~20040331~65~113~294        hb
1  48433197419~INC~3018881~20040331~65~114~294        hb
2  48433197419~INC~3018881~20040331~66~113~294        hb
3  48433197419~INC~3018881~20040331~66~114~294        hb
4  48433197418~SHE~3017576~20071231~88~104~287        hb

In [167]:
hbvw1 = pd.merge(vw_no_hb1, hb_no_vw1, how='outer').fillna('na')
print hbvw1.describe()
hbvw1.to_csv(root_path + '\\' + 'hbvw1.csv')
hbvw1.head()

                                 rowkey_logicalfield vw_marked hb_marked
count                                         218811    218811    218811
unique                                        218811         2         2
top     48433197419~INC~3018255~20151231~170~273~193        vw        hb
freq                                               1    212726    208312

                          rowkey_logicalfield vw_marked hb_marked
0  48433190885~INC~3020474~20101231~55~44~295        vw        hb
1  48433190885~INC~3018506~20101231~55~44~277        vw        hb
2  48433190885~INC~3018526~20101231~55~44~276        vw        hb
3  48433190885~INC~3018509~20101231~55~44~275        vw        hb
4  48433190885~INC~3018511~20101231~55~44~274        vw        hb

In [169]:
print 202227 + 1608347
print 208312 - 202227
print 212726 - 202227

1810574
6085
10499

In [51]:
merge_out_hb_vw = merge_out_hb.merge(merge_out_vw, merge_out_hb)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
vw_data = pd.read_csv(vw_file, header = None, skiprows = 1, delimiter='|', names=header, keep_default_na=False, na_values='').fillna('').applymap(str)
vw_data.reportedcurrencyid = vw_data.reportedcurrencyid.apply(lambda x: x.split('.')[0])
vw_data.asrlineitemsequence = vw_data.asrlineitemsequence.apply(lambda x: x.split('.')[0])
vw_data.asreportedlineitemsource = vw_data.asreportedlineitemsource.apply(lambda x: x.split('.')[0])
vw_data.capitalchangeadjustmentdate = vw_data.capitalchangeadjustmentdate.apply(lambda x: x.split('.')[0])
vw_data.parentlinelocallanguagelabellanguageid = vw_data.parentlinelocallanguagelabellanguageid.apply(lambda x: x.split('.')[0])
vw_data.parentlineitemnamelanguageid = vw_data.parentlineitemnamelanguageid.apply(lambda x: x.split('.')[0])
vw_data.docbytelength = vw_data.docbytelength.apply(lambda x: x.split('.')[0])
vw_data.docbyteoffset = vw_data.docbyteoffset.apply(lambda x: x.split('.')[0])
vw_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)

vw_data.rowkey_logicalfield = vw_data.fundamentalseriesid.replace(np.NAN, 'NAN') + '~' + \
                                vw_data.statementtypecode.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialconceptlocalid.replace(['nan', np.NAN, ''], 'NAN')  + '~' + \
                                vw_data.periodenddate.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialsourceid.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.financialperiodid.replace(np.NAN, 'NAN')  + '~' + \
                                vw_data.lineitemlineitemid.replace(np.NAN, 'NAN') 
print vw_data.rowkey_logicalfield.duplicated().value_counts()
vw_data.head()

In [3]:
# format hbase data
hbase_data = pd.read_table(hbase_file, header=None, delimiter='|', names=header, dtype='string').fillna('').applymap(str)
import datetime
def dataconvert(val):
    if val != '':
        return datetime.datetime.fromtimestamp(float(val[:-3])).strftime('%Y%m%d')
    else:
        return np.NAN

hbase_data.replace('nil', '', inplace=True)
hbase_data.replace('True', '1', inplace=True)
hbase_data.replace('False', '0', inplace=True)
hbase_data.replace('OriginalToOriginal', '1', inplace=True)
hbase_data.replace('RecentToRecent', '2', inplace=True)
hbase_data.replace('ParentOnly', '3', inplace=True)
hbase_data.replace('Blended', '1', inplace=True)
hbase_data.replace('ConsolidatedOnly', '2', inplace=True)
hbase_data.locallanguagelabellanguageid.replace('505074', '505205', inplace=True)
hbase_data.lineitemnamelanguageid.replace('505205', '505074', inplace=True)
#hbase_data.periodenddate = hbase_data.periodenddate.apply(lambda val: datetime.datetime.fromtimestamp(float(val[:-3])).strftime('%Y%m%d'))
#hbase_data.capitalchangeadjustmentdate = hbase_data.capitalchangeadjustmentdate.apply(dataconvert)

hbase_data.insert(0, 'rowkey_logicalfield', np.NAN, allow_duplicates=False)

hbase_data.rowkey_logicalfield = hbase_data.fundamentalseriesid.replace(np.NAN, 'NAN') + '~' + \
                                hbase_data.statementtypecode.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialconceptlocalid.replace('', 'NAN')  + '~' + \
                                hbase_data.periodenddate.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialsourceid.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.financialperiodid.replace(np.NAN, 'NAN')  + '~' + \
                                hbase_data.lineitemlineitemid.replace(np.NAN, 'NAN') 
print hbase_data.rowkey_logicalfield.duplicated().value_counts()
hbase_data.head()

KeyboardInterrupt:

In [ ]:
hbase_index = pd.DataFrame(vw_data.rowkey_logicalfield, columns=['rowkey_logicalfield'])
#print hbase_index.head(2)
hbase_sorted_vw = pd.merge(hbase_index, hbase_data)
#print hbase_sorted_vw.head(2)
compare_matrix = pd.DataFrame(vw_data.values == hbase_sorted_vw.values, columns=header_index)
compare_matrix.head()

In [ ]:
compare_sum = compare_matrix.sum()
compare_sum.plot(kind='barh', rot=0, fontsize=8)
my_dpi=1200
plt.figure(figsize=(10, 8), dpi=my_dpi)
plt.show()