In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
#%matplotlib inline

In [2]:
data = pd.read_csv('./data/list-copy.txt', header=None, names=['file'])
data.head()

       file
0  sh600487
1  sh600568
2  sh600310
3  sz000910
4  sh600343

In [5]:
data.head()

       file
0  sh600487
1  sh600568
2  sh600310
3  sz000910
4  sh600343

In [7]:
filename = 'sh600568'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
z = gdrs[0].ix[1:1, 1:]
z.insert(0, 'file', filename, allow_duplicates=False)
z
count = 0
def mergefiles(filename):
    #print filename
    global z
    global count
    count += 1
    print 'count: %d\r' %count,
    try:
        gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
        x = gdrs[0].ix[1:1, 1:]
        x.insert(0, 'file', filename, allow_duplicates=False)
        z = pd.merge(z, x, how='outer')
    except:
        print 'exception: ' + filename
        pass
    #print x
    #del x
    #print y

In [8]:
data.file.apply(mergefiles)
z.to_html('./data/360up.html', na_rep='/')

In [107]:
z.to_pickle('./data/360up_250.pickle')

In [111]:
z.to_html('./data/360up.html', na_rep='/')

In [51]:
gdrs = pd.read_html('./data/gdrs/sh600568', header=0)
gdrs[0]

,Unnamed: 0,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
0,股东人数(户),1.51万,1.77万,1.53万,1.23万,1.23万,1.54万,1.27万,1.30万,1.76万,1.91万
1,较上期变化(%),-14.48,15.73,24.28,-0.28,-19.60,21.16,-2.75,-25.78,-8.07,-7.50
2,人均流通股(股),3.34万,2.86万,2.39万,2.97万,2.94万,2.35万,2.85万,2.77万,2.06万,1.89万
3,较上期变化(%),16.93,19.53,-19.54,1.10,25.19,-17.47,2.82,34.73,8.78,107.54
4,筹码集中度,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中
5,股价(元),17.40,15.67,23.91,24.14,24.14,17.80,16.16,13.84,13.26,9.08
6,人均持股金额(元),58.2万,44.8万,57.2万,71.8万,71.0万,41.8万,46.0万,38.3万,27.3万,17.2万
7,前十大股东持股合计(%),60.79,57.20,55.27,55.65,55.65,55.66,61.06,57.47,55.28,55.99
8,前十大流通股东持股合计(%),42.03,38.16,40.24,41.36,41.36,40.48,56.51,56.51,54.11,54.96

In [68]:
gdrs1 = gdrs[0].ix[0:0, 1:]
gdrs1

,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
0,1.51万,1.77万,1.53万,1.23万,1.23万,1.54万,1.27万,1.30万,1.76万,1.91万

In [42]:
filename = 'sh600568'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
x = gdrs[0].ix[1:1, 1:]
x.insert(0, 'file', filename, allow_duplicates=False)
x

,file,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
1,sh600568,-14.48,15.73,24.28,-0.28,-19.60,21.16,-2.75,-25.78,-8.07,-7.50

In [53]:
filename = 'sz300262'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
y = gdrs[0].ix[1:1, 1:]
y.insert(0, 'file', filename, allow_duplicates=False)
y

,file,16-07-29,16-07-15,16-06-30,16-06-15,16-05-31,16-05-13,16-04-29,16-04-15,16-03-31,16-03-15
1,sz300262,-1.54,-2.31,-7.19,0.26,-1.68,-1.85,-3.30,0.04,-5.84,-0.28

In [54]:
filename = 'sh600487'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
z = gdrs[0].ix[1:1, 1:]
z.insert(0, 'file', filename, allow_duplicates=False)
z

,file,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-04-08,15-03-31,14-12-31,14-09-30,14-06-30
1,sh600487,-5.04,-12.10,54.72,124.84,4.16,-4.12,23.73,-2.93,-17.10,-1.28

In [3]:
x = pd.merge(x,y, how='outer')
x = pd.merge(x,z, how='outer')
x

NameError: name 'x' is not defined

In [56]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 23 columns):
file        4 non-null object
16-06-30    4 non-null object
16-03-31    3 non-null object
15-12-31    2 non-null object
15-09-30    2 non-null object
15-06-30    2 non-null object
15-03-31    2 non-null object
15-03-12    1 non-null object
14-12-31    2 non-null object
14-09-30    2 non-null object
14-06-30    2 non-null object
16-09-14    1 non-null object
16-08-31    1 non-null object
16-08-15    1 non-null object
16-07-29    2 non-null object
16-07-15    2 non-null object
16-06-15    2 non-null object
16-05-31    2 non-null object
16-05-13    2 non-null object
16-04-29    2 non-null object
15-04-08    1 non-null object
16-04-15    1 non-null object
16-03-15    1 non-null object
dtypes: object(23)
memory usage: 768.0+ bytes

In [75]:
gdrs[0].ix[2:2, 1:]

,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
2,3.34万,2.86万,2.39万,2.97万,2.94万,2.35万,2.85万,2.77万,2.06万,1.89万

In [ ]:
data.join(gdrs1.ix[2:2, 1:])
data.join(lambda file: pd.read_html('./data/gdrs/', header=0)

In [2]:
data = pd.read_csv('./data/ztrz.txt', header=None, names=['file'])
data.head()

       file
0  sz300308
1  sz000736
2  sz002113
3  sz002722
4  sz002305

In [9]:
filename = 'sz300308'
gdrs = pd.read_html('./data/ztrz/' + filename, header=0)
z = gdrs[0].ix[1:1, 1:]
z.insert(0, 'file', filename, allow_duplicates=False)
z
count = 0
print count
def mergefiles(filename):
    #print filename
    global z
    global count
    count += 1
    #print 'count: %d\r' %count,
    try:
        gdrs = pd.read_html('./data/ztrz/' + filename, header=0)
        x = gdrs[0].ix[1:1, 1:]
        x.insert(0, 'file', filename, allow_duplicates=False)
        z = pd.merge(z, x, how='outer')
    except:
        print 'exception: ' + filename
        pass

0

In [10]:
data.file.apply(mergefiles)

exception: sh600487
exception: sh600568
exception: sh600310
exception: sz000910
exception: sh600343
exception: sz300320
exception: sz300158
exception: sh600491
exception: sh603088
exception: sh603030
exception: sh600502
exception: sz002620
exception: sz002271
exception: sz002088
exception: sh600323
exception: sz300482
exception: sz300203
exception: sz002501
exception: sz002450
exception: sz002383
exception: sh600985
exception: sz002483
exception: sz002433
exception: sz002033
exception: sz000513
exception: sh603223
exception: sh601888
exception: sh600290
exception: sz300215
exception: sz300197
exception: sz300181
exception: sz002688
exception: sz002524
exception: sz002310
exception: sz002250
exception: sz002194
exception: sz002081
exception: sz000811
exception: sz000711
exception: sh600461
exception: sh600099
exception: sz300262
exception: sz300119
exception: sz300107
exception: sz002700
exception: sz002692
exception: sz002417
exception: sz002036
exception: sz000977
exception: sh601999
exception: sh600706
exception: sh600644
exception: sh600517
exception: sh600285
exception: sz002042
exception: sz000889
exception: sz000826
exception: sz000525
exception: sh600917
exception: sh600781
exception: sh600596
exception: sh600590
exception: sh600558
exception: sh600505
exception: sh600293
exception: sh600196
exception: sz300172
exception: sz300123
exception: sz002743
exception: sz002479
exception: sz002404
exception: sz002300
exception: sz002205
exception: sz002193
exception: sz002163
exception: sz002062
exception: sz000888
exception: sz000692
exception: sh603008
exception: sh603003
exception: sh600810
exception: sh600452
exception: sh600406
exception: sh600201
exception: sh600128
exception: sz300355
exception: sz300237
exception: sz300108
exception: sz002755
exception: sz002462
exception: sz002084
exception: sz000662
exception: sz000550
exception: sz000026
exception: sh600982
exception: sh600506
exception: sh600426
exception: sz002482
exception: sz002394
exception: sz002307
exception: sz000951
exception: sz000731
exception: sz000509
exception: sh600963
exception: sh600791
exception: sh600664
exception: sh600561
exception: sh600275
exception: sz002082
exception: sz000900
exception: sz000786
exception: sz000416
exception: sh603108
exception: sh601188
exception: sh601028
exception: sh600969
exception: sh600325
exception: sh600248
exception: sh600138
exception: sz300152
exception: sz002693
exception: sz002213
exception: sz000949
exception: sh603268
exception: sh600593
exception: sh600526
exception: sz300225
exception: sz300090
exception: sz002683
exception: sz002058
exception: sh600998
exception: sh600856
exception: sh600388
exception: sz300391
exception: sz002046
exception: sz000652
exception: sh600825
exception: sh600601
exception: sh600512
exception: sh600448
exception: sh600292
exception: sh600217
exception: sz000789
exception: sz000599
exception: sz000058
exception: sz000030
exception: sh600715
exception: sh600620
exception: sh600093
exception: sz002701
exception: sz002333
exception: sz002233
exception: sz002225
exception: sz002122
exception: sz002037
exception: sz000737
exception: sz000589
exception: sz000546
exception: sh600979
exception: sh600802
exception: sh600792
exception: sh600780
exception: sh600605
exception: sh600159
exception: sh600126
exception: sz002627
exception: sz000679
exception: sz000598
exception: sz000096
exception: sh603566
exception: sh603558
exception: sh601038
exception: sh600169
exception: sh600098
exception: sh600077
exception: sz000502
exception: sh600874
exception: sh600679
exception: sh600643
exception: sh600389
exception: sh600355
exception: sh600137
exception: sz300148
exception: sz002319
exception: sh600693
exception: sh600475
exception: sh600370
exception: sh600133
exception: sz002476
exception: sz002320
exception: sz002143
exception: sz000680
exception: sz000637
exception: sh603718
exception: sh600853
exception: sz300345
exception: sz000584
exception: sh600121
exception: sz000683
exception: sz000608
exception: sz000028
exception: sz000010
exception: sh603869
exception: sh600689
exception: sh600565
exception: sh600335
exception: sh600322
exception: sh600215
exception: sz300187
exception: sz002314
exception: sz002291
exception: sh600250
exception: sz000668
exception: sh600778
exception: sh600223
exception: sz002730
exception: sz000961
exception: sh600743
exception: sh600425
exception: sh600227
exception: sh600175
exception: sh600073
exception: sh600053

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
215    None
216    None
217    None
218    None
219    None
220    None
221    None
222    None
223    None
224    None
225    None
226    None
227    None
228    None
229    None
230    None
231    None
232    None
233    None
234    None
235    None
236    None
237    None
238    None
239    None
240    None
241    None
242    None
243    None
244    None
Name: file, dtype: object

In [5]:
z.to_html('./data/ztrz.html', na_rep='/')

In [6]:
z.to_pickle('./data/ztrzreal.pickle')

In [11]:
z.to_csv('./data/ztrzresult.txt')

In [12]:
z.sort_index().head()

,file,16-09-30,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-04-20,15-03-31,14-12-31,...,16-07-31,16-07-15,15-03-11,15-03-30,15-03-23,15-04-08,16-07-29,16-06-15,16-09-15,15-04-16
0,sz300308,-0.33,-0.17,17.87,-17.96,18.43,-39.49,21.42,-24.69,85.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sz002480,-5.92,-14.06,-2.28,-11.12,16.31,43.34,NaN,5.81,77.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sz300344,-27.81,2.72,-0.20,-4.26,-5.71,-5.28,1.99,9.17,-17.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sz002387,-3.79,-4.58,-11.77,-20.44,30.18,162.79,NaN,54.45,-28.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sz002562,22.05,25.12,36.32,0.48,2.50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
zt = z.T
zt.sort_index(ascending=False)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
file,sz300308,sz002480,sz300344,sz002387,sz002562,sz000913,sz300249,sz002221,sz000856,sz002589,...,sz000628,sz300089,sz000597,sz000420,sz002247,sz000703,sz000036,sz300265,sz002493,sz000510
16-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-3.57,0.70,NaN,NaN,NaN
16-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN
16-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2.06,1.29,NaN,NaN,NaN
16-09-30,-0.33,-5.92,-27.81,-3.79,22.05,-34.36,-30.80,-8.99,-4.27,-14.58,...,-15.23,-44.17,-8.89,2.33,6.07,-0.36,3.08,-27.38,-10.10,13.69
16-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.37,NaN,NaN,NaN
16-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-39.20,-4.91,NaN,NaN,NaN,NaN
16-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.14,-4.89,NaN,NaN,NaN
16-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-4.44,-0.69,NaN,NaN,NaN
16-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.81,NaN,NaN,NaN
16-07-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.75,NaN,NaN,NaN,NaN
16-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-7.85,-3.27,NaN,NaN,NaN
16-06-30,-0.17,-14.06,2.72,-4.58,25.12,-26.59,53.30,1.77,-15.17,-25.01,...,17.94,6.99,5.16,-5.83,91.25,-1.70,0.46,--,-1.82,2.61
16-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.23,NaN,NaN,NaN,NaN
16-03-31,17.87,-2.28,-0.20,-11.77,36.32,-9.46,37.29,23.03,6.04,-18.07,...,12.67,118.41,-12.87,1.48,-4.88,NaN,NaN,-14.00,5.19,-3.22
16-02-29,NaN,-5.98,NaN,NaN,NaN,NaN,0.78,NaN,NaN,NaN,...,NaN,-0.21,-0.98,NaN,-17.21,NaN,NaN,NaN,NaN,NaN
16-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-12-31,-17.96,-11.12,-4.26,-20.44,0.48,35.59,-33.24,56.64,-20.82,442.82,...,-39.02,-44.61,-8.59,-11.13,-0.30,NaN,NaN,22.38,-5.03,-24.68
15-12-15,NaN,NaN,NaN,NaN,-10.40,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-11-30,NaN,NaN,NaN,NaN,2.46,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-10-31,NaN,NaN,NaN,NaN,-11.18,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-09-30,18.43,16.31,-5.71,30.18,2.50,0.24,113.00,-14.26,5.30,-0.22,...,56.12,215.24,5.88,-12.34,43.88,NaN,NaN,5.82,3.62,-22.76
15-08-31,NaN,NaN,NaN,NaN,-2.19,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-08-15,NaN,NaN,NaN,NaN,28.01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-06-30,-39.49,43.34,-5.28,162.79,NaN,27.82,-33.06,46.09,13.75,6.12,...,-4.52,-6.67,0.55,37.43,16.07,NaN,NaN,135.17,-12.92,-1.37
15-04-20,21.42,NaN,1.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.02,NaN
15-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-28.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-04-14,NaN,NaN,NaN,NaN,NaN,12.93,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-04-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.14,NaN,NaN,NaN,NaN,NaN
15-04-07,NaN,NaN,NaN,4.86,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.49,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.02
15-03-31,-24.69,5.81,9.17,54.45,NaN,-8.40,14.27,0.48,-4.64,-9.62,...,1.51,-46.45,-0.79,4.80,-36.51,NaN,NaN,-5.74,-12.75,0.72
15-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.46,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.72,NaN,NaN
15-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-3.97,NaN,NaN,NaN,NaN,NaN,NaN
15-03-20,NaN,-0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-03-17,NaN,NaN,NaN,NaN,NaN,NaN,-25.95,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14-12-31,85.64,77.36,-17.07,-28.57,NaN,6.55,-4.78,-30.43,-18.40,8.80,...,6.32,-10.37,3.09,-5.26,NaN,NaN,NaN,52.65,-13.53,11.88
14-09-30,53.19,NaN,-1.85,-5.09,NaN,-10.07,NaN,-17.02,-19.36,17.69,...,-14.08,NaN,NaN,-1.01,NaN,NaN,NaN,-22.19,0.45,2.81

In [20]:
ztt = z.T.sort_index(ascending=False)
ztt.replace()

,file,16-10-31,16-10-15,16-10-14,16-09-30,16-09-15,16-09-14,16-08-31,16-08-15,16-07-31,...,15-03-31,15-03-30,15-03-27,15-03-26,15-03-23,15-03-20,15-03-17,15-03-11,14-12-31,14-09-30
0,sz300308,NaN,NaN,NaN,-0.33,NaN,NaN,NaN,NaN,NaN,...,-24.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.64,53.19
1,sz002480,NaN,NaN,NaN,-5.92,NaN,NaN,NaN,NaN,NaN,...,5.81,NaN,NaN,NaN,NaN,-0.86,NaN,NaN,77.36,NaN
2,sz300344,NaN,NaN,NaN,-27.81,NaN,NaN,NaN,NaN,NaN,...,9.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-17.07,-1.85
3,sz002387,NaN,NaN,NaN,-3.79,NaN,NaN,NaN,NaN,NaN,...,54.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-28.57,-5.09
4,sz002562,NaN,NaN,NaN,22.05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,sz000913,NaN,NaN,NaN,-34.36,NaN,NaN,NaN,NaN,NaN,...,-8.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.55,-10.07
6,sz300249,NaN,NaN,NaN,-30.80,NaN,NaN,NaN,NaN,NaN,...,14.27,NaN,NaN,NaN,NaN,NaN,-25.95,NaN,-4.78,NaN
7,sz002221,NaN,NaN,NaN,-8.99,NaN,NaN,NaN,NaN,NaN,...,0.48,NaN,-9.46,NaN,NaN,NaN,NaN,NaN,-30.43,-17.02
8,sz000856,NaN,NaN,NaN,-4.27,NaN,NaN,NaN,NaN,NaN,...,-4.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-18.40,-19.36
9,sz002589,NaN,NaN,NaN,-14.58,NaN,NaN,NaN,NaN,NaN,...,-9.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.80,17.69
10,sz000561,NaN,NaN,NaN,-14.90,NaN,NaN,NaN,NaN,NaN,...,-1.90,NaN,NaN,-6.29,NaN,NaN,NaN,NaN,1.18,7.39
11,sz300132,NaN,NaN,NaN,-16.36,NaN,NaN,NaN,NaN,NaN,...,21.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.75,NaN
12,sz002606,10.63,--,5.02,4.49,NaN,-10.45,-7.25,-5.79,-3.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,sz000628,NaN,NaN,NaN,-15.23,NaN,NaN,NaN,NaN,NaN,...,1.51,NaN,NaN,NaN,NaN,NaN,NaN,-5.42,6.32,-14.08
14,sz300089,NaN,NaN,NaN,-44.17,NaN,NaN,NaN,NaN,NaN,...,-46.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.37,NaN
15,sz000597,NaN,NaN,NaN,-8.89,NaN,NaN,NaN,NaN,NaN,...,-0.79,3.95,NaN,NaN,NaN,NaN,NaN,NaN,3.09,NaN
16,sz000420,NaN,NaN,NaN,2.33,NaN,NaN,NaN,NaN,NaN,...,4.80,NaN,NaN,NaN,-3.97,NaN,NaN,NaN,-5.26,-1.01
17,sz002247,NaN,NaN,NaN,6.07,NaN,-39.20,NaN,NaN,NaN,...,-36.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,sz000703,-3.57,NaN,-2.06,-0.36,NaN,-4.91,-0.14,-4.44,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,sz000036,0.70,--,1.29,3.08,0.37,NaN,-4.89,-0.69,0.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,sz300265,NaN,NaN,NaN,-27.38,NaN,NaN,NaN,NaN,NaN,...,-5.74,NaN,NaN,31.72,NaN,NaN,NaN,NaN,52.65,-22.19
21,sz002493,NaN,NaN,NaN,-10.10,NaN,NaN,NaN,NaN,NaN,...,-12.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.53,0.45
22,sz000510,NaN,NaN,NaN,13.69,NaN,NaN,NaN,NaN,NaN,...,0.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.88,2.81

In [26]:
ztt.T.replace(np.nan, '--').to_html('ztt.html')