# Purpose to compare data of asr-interim of 40 orgs.

## problems:
1.interimnumber: dump数据没有值
2.interimperiodfiscalyear：dump数据没有值
3.时间日期： VM里面是显式日期（20011231）, dump数据是绝对秒数（1009756800000）(periodenddate, capitalchangeadjustmentdate) 
4.0,1值没有转换
5.locallanguagelabellanguageid和lineitemnamelanguageid值颠倒

### columns to be replaced:
{
    'TRUE,FALSE':{
    isusedforanalytics,
    ispreliminary,
    asriscredit,
    isasreportedcurrencysetmanually,
    iscombineditem,
    isderived,
    isfinal,
    istotal,
    statementsectioniscredit,
    }
    'fundamentalseriesviewtype':{
        'OriginalToOriginal':1
        'RecentToRecent':2
    }
    'fundamentalseriesconsolidationbasis':{
        'Blended':1
        'ConsolidatedOnly':0
    }
    'periodenddate': 'to caculate'
}

### row-key in header according to out 'auto-pilot-qa\qualified_rules\EnrichRules\asr_interim\output.json':
fundamentalseriesid
statementtypecode
financialconceptlocalid
periodenddate

financialsourceid
financialperiodid
lineitemlineitemid

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [ ]:
root_path = r'K:\Learn\ADC\phase3\hbasecompare\testing-data'
vw_file = root_path + '\\' + r'4295889557inc.csv'
hbase_file = root_path + '\\' + r'4295889557-INC.csv'
header = Series(['fundamentalid','organizationid','gaapcodeid','gaapcode','isusedforanalytics','fundamentalseriesid','fundamentalseriesviewtype','fundamentalseriesviewtypeid','fundamentalseriesconsolidationbasis','fundamentalseriesconsolidationbasisid','periodenddate','periodtype','periodtypeid','statementcurrencyid','ispreliminary','updatetypecode','updatetypeid','statementsystemderivedtypecode','statementsystemderivedtypecodeid','statementtypecode','statementtypecodeid','financialperiodid','financialsourceid','sourcetypecode','sourcetypeid','thirdpartysourcecode','thirdpartysourcecodeid','cumulativetype','cumulativetypeid','interimnumber','interimperiodfiscalyear','financialconceptglobal','financialconceptglobalid','financialconceptcodeglobalsecondary','financialconceptcodeglobalsecondaryid','financialconceptlocal','financialconceptlocalid','asriscredit','lineitemlineitemid','locallanguagelabel','locallanguagelabellanguageid','lineitemname','lineitemnamelanguageid','physicalmeasureid','orglineitemsequence','asradjustedforcorporateactionvalue','lineitemvalue','asreportedlineitemname','asreportedlineitemnamelanguageid','lineitemlocallanguagelabel','lineitemlocallanguagelabellanguageid','asrlineitemsequence','asreportedlineitemsource','capitalchangeadjustmentdate','estimatemethodcode','estimatemethodid','estimatemethodnote','estimatemethodnotelanguageid','isasreportedcurrencysetmanually','iscombineditem','isderived','isfinal','istotal','editeddescription','editeddescriptionlanguageid','reporteddescription','reporteddescriptionlanguageid','bookmark','docbytelength','docbyteoffset','itemdisplayednegativeflag','itemdisplayedvalue','itemscalingfactor','reportedvalue','parentlineitemid','asreportedphysicalmeasureid','reportedcurrencyid','statementsectioniscredit','statementsectioncode','statementsectionid','systemderivedtypecode','systemderivedtypecodeid','unit','unitenumerationid','parentlineitemname','parentlineitemnamelanguageid','parentlinelocallanguagelabel','parentlinelocallanguagelabellanguageid'])
rowkey_logicalfield = ['fundamentalseriesid', 'statementtypecode' ,'financialconceptlocalid', 'periodenddate', 'financialsourceid', 'financialperiodid', 'lineitemlineitemid']

# rowkey-logicalfield version

In [ ]:
vw_data = pd.read_csv(vw_file, header = None, skiprows = 1, delimiter='|', names=header)
hbase_data = pd.read_csv(hbase_file, header=None, delimiter='|', names=header)

# md5 versioin

In [145]:
vw_data = pd.read_csv(vw_file, header = None, skiprows = 1, delimiter='\n', names=['valstring'])
hbase_data = pd.read_csv(hbase_file, header=None, delimiter='\n', names=['valstring'])

In [146]:
print vw_data.info()
vw_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17828 entries, 0 to 17827
Data columns (total 1 columns):
valstring    17828 non-null object
dtypes: object(1)
memory usage: 139.4+ KB
None

                                           valstring
0  48435720524|4295889557|3011624|SPG|True|484333...
1  48435720433|4295889557|3011566|IAS|1|484333503...
2  48435720433|4295889557|3011566|IAS|1|484331415...
3  48435720433|4295889557|3011566|IAS|1|484331415...
4  48435720433|4295889557|3011566|IAS|1|484333503...

In [147]:
print hbase_data.info()
hbase_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17828 entries, 0 to 17827
Data columns (total 1 columns):
valstring    17828 non-null object
dtypes: object(1)
memory usage: 139.4+ KB
None

                                           valstring
0  48435720524|4295889557|3011624|SPG|True|484333...
1  48435720524|4295889557|3011624|SPG|True|484333...
2  48435720524|4295889557|3011624|SPG|True|484333...
3  48435720524|4295889557|3011624|SPG|True|484333...
4  48435720524|4295889557|3011624|SPG|True|484333...

In [148]:
import hashlib
def hashmd5code(str):
    return hashlib.md5(str).hexdigest()

In [149]:
hashmd5code('48435720433|4295889557|3011566|IAS|1|48433350305|2|1000190359|1|1000190363|20141231|HalfYear|3011647|500111|0|ORG|3013560|MP|3019677|INC|3011683|236|63|ESPARS|3012178|SS|1000716240|D|3013563|2|2014|XBINCI|3016251|||||1|287|RESULTADO DEL EJERCICIO BENEFICIO POR ACCION|505205|Allocated Net Income incl Extra Items applicable to Common - (Instrument Level)|505074||||-28381204.59|Allocated Net Income incl Extra Items applicable to Common - (Instrument Level)|505074||505205|188095|||ARV|3019656||505074|1|0|1|0|0||505074||505074||||0||0||||500111|1|PSI|3013729|MP|3019677|1|1010066||||')

'9390f4022c31320114073a0ef9a89d79'

In [150]:
hashmd5code('48435720524|4295889557|3011624|SPG|True|48433350304|OriginalToOriginal|1000190358|Blended|1000190363|1009756800000|HalfYear|3011647|500111|False|ORG|3013560|NA|3019679|INC|3011683|36|14|ESPARS|3012178|SS|1000716240|D|3013563|nil|nil|CDNI|3018735|nil|nil|nil|nil|True|100|nil|505074|Diluted Net Income|505205|nil|nil|nil|2752000.0|Diluted Net Income|505074|Diluted Net Income|505205|147472|nil|nil|ARV|3019656|nil|505074|False|False|False|True|False|nil|505074|nil|505074|nil|nil|nil|nil|nil|3|nil|nil|nil|500111|True|PSI|3013729|NA|3019679|1000.0|1010067|nil|nil|nil|nil')

'2b133086d0613a49c1310ee0809292c5'

In [151]:
vw_data.insert(0, 'md5', np.NAN, allow_duplicates=False)
hbase_data.insert(0, 'md5', np.NAN, allow_duplicates=False)

In [152]:
vw_data.md5 = vw_data.ix[:,'valstring'].apply(hashmd5code)
vw_data.head()

,md5,valstring
0,2b133086d0613a49c1310ee0809292c5,48435720524|4295889557|3011624|SPG|True|484333...
1,b2cd131045f9250b0cbe7ee4130c875a,48435720433|4295889557|3011566|IAS|1|484333503...
2,4478ab7a9ee1b037172136d80bb24dcb,48435720433|4295889557|3011566|IAS|1|484331415...
3,cd04d7eefcf825332c47cd2569fa22ef,48435720433|4295889557|3011566|IAS|1|484331415...
4,49c314f982114a48789daed063655648,48435720433|4295889557|3011566|IAS|1|484333503...

In [153]:
hbase_data.md5 = hbase_data.ix[:,'valstring'].apply(hashmd5code)
hbase_data.head()

,md5,valstring
0,2b133086d0613a49c1310ee0809292c5,48435720524|4295889557|3011624|SPG|True|484333...
1,7498b28673578019f37b59733c609d42,48435720524|4295889557|3011624|SPG|True|484333...
2,0aa5e5231a051e095aa28dc26330f897,48435720524|4295889557|3011624|SPG|True|484333...
3,7062471403fec018b6096695c84ed0bc,48435720524|4295889557|3011624|SPG|True|484333...
4,3c7795538258e86b362d02c7d2caac44,48435720524|4295889557|3011624|SPG|True|484333...

In [154]:
vw_data_md5 = vw_data.sort_values('md5')
vw_data.sort_values('md5').head()

,md5,valstring
11838,000700e3c35f967e57f2b0bdb1ba1a82,48435720433|4295889557|3011566|IAS|1|484333503...
14553,0009ca889ac49256afc254526f8e78a6,48435720433|4295889557|3011566|IAS|1|484333503...
9714,000d692811709464b518a635d7bc54c9,48435720433|4295889557|3011566|IAS|1|484333503...
8014,0012bf57ff151d2e67b1e43654272d6d,48435720433|4295889557|3011566|IAS|1|484331415...
15621,0013bfcbe282218ab46aaafec4e273c0,48435720455|4295889557|3011566|IAS|1|484331415...

In [155]:
hbase_data_md5 = hbase_data.sort_values('md5')
hbase_data.sort_values('md5').head()

,md5,valstring
14055,00097cd4f5034a417d5b8b8cf088ca01,48435720433|4295889557|3011566|IAS|True|484333...
15625,000bb42b833fd4cfc13dc21cca5b9aac,48435720455|4295889557|3011566|IAS|True|484331...
8605,00138fb4dd66f117d13adeef22d54a88,48435720433|4295889557|3011566|IAS|True|484333...
12188,0014582318082135a7400ba9f0aa95fb,48435720455|4295889557|3011566|IAS|True|484333...
16874,00165f2d4367f5867b934fd4e37b6fab,48435720524|4295889557|3011624|SPG|True|484333...

In [156]:
vw_data_md5.head()

,md5,valstring
11838,000700e3c35f967e57f2b0bdb1ba1a82,48435720433|4295889557|3011566|IAS|1|484333503...
14553,0009ca889ac49256afc254526f8e78a6,48435720433|4295889557|3011566|IAS|1|484333503...
9714,000d692811709464b518a635d7bc54c9,48435720433|4295889557|3011566|IAS|1|484333503...
8014,0012bf57ff151d2e67b1e43654272d6d,48435720433|4295889557|3011566|IAS|1|484331415...
15621,0013bfcbe282218ab46aaafec4e273c0,48435720455|4295889557|3011566|IAS|1|484331415...

In [157]:
hbase_data_md5.head()

,md5,valstring
14055,00097cd4f5034a417d5b8b8cf088ca01,48435720433|4295889557|3011566|IAS|True|484333...
15625,000bb42b833fd4cfc13dc21cca5b9aac,48435720455|4295889557|3011566|IAS|True|484331...
8605,00138fb4dd66f117d13adeef22d54a88,48435720433|4295889557|3011566|IAS|True|484333...
12188,0014582318082135a7400ba9f0aa95fb,48435720455|4295889557|3011566|IAS|True|484333...
16874,00165f2d4367f5867b934fd4e37b6fab,48435720524|4295889557|3011624|SPG|True|484333...

In [181]:
same_raws = pd.merge(vw_data_md5, hbase_data_md5)
print same_raws.info()
print same_raws.ix[0, 0]
same_raws

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 2 columns):
md5          1 non-null object
valstring    1 non-null object
dtypes: object(2)
memory usage: 24.0+ bytes
None
2b133086d0613a49c1310ee0809292c5

,md5,valstring
0,2b133086d0613a49c1310ee0809292c5,48435720524|4295889557|3011624|SPG|True|484333...

In [189]:
hbase_data_md5[hbase_data_md5['md5'] != same_raws.ix[0, 0]].index

Int64Index([14055, 15625,  8605, 12188, 16874,  6911,  5598, 16205, 17141,
             8984,
            ...
            15488, 17761,  4852, 17372,  6091, 12968, 12185, 14728,  7890,
              999],
           dtype='int64', length=17827)

# -----------------disused-----------------

In [ ]:
data1 = hbase_data.replace('nil', np.NAN)
data1 = data1.replace(True, '1')
data1 = data1.replace(False, '0')
data1.locallanguagelabellanguageid

In [ ]:
locallanguage = data1.locallanguagelabellanguageid
lineitemname = data1.lineitemnamelanguageid
data1['ocallanguagelabellanguageid'] = lineitemname
data1['lineitemnamelanguageid'] = locallanguage

In [ ]:
data1.locallanguagelabellanguageid

In [ ]:
data1.to_csv("data1.csv", sep = '|')

In [ ]:
data1

In [ ]:
import time