In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

# pandas的数据结构介绍

## Series

### Series是一种类似于一位数组的对象，由一组数据以及标签组成

### Series是object，可以有name(obj4.name)，而且index也可以有name(obj4.index.name)

In [ ]:
obj = Series([4, 7, -5, 3])
print obj
print obj.values
print obj.index

In [ ]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print obj2
print obj2.index
print obj2['a']
print obj2['d']
print obj2[obj2 > 0]
print obj2 * 2
print np.exp(obj2)
print 'b' in obj2 #Series相当于字典，可以判断key是否存在
#print 4 in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah':5000}
obj3 = Series(sdata)
print obj3
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index = states)
print obj4
print pd.isnull(obj4)
print pd.notnull(obj4)
print obj4.isnull()
print '-----'
print obj3 + obj4
obj4.name = 'population'
obj4.index.name = 'state'
print obj4

## DataFrame

### DataFrame是一个表格型的数据结构，含有一组有序的列，每列可以有不同的值类型。
DataFrame既有行索引，也有列索引，它可以被看做由Series组成的字典，以一个或多个二维块存放。

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
print frame
print DataFrame(data, columns = ['year', 'state', 'pop'])
frame2 = DataFrame(data, columns = ['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five'])
print frame2
print frame2['state']
print frame2.year
print frame2.ix['three']
frame2['debt'] = 16.5
print frame2
frame2['debt'] = np.arange(5.)
print frame2

In [ ]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print frame2
frame2['eastern'] = frame2.state == 'Ohio'
print frame2
del frame2['eastern']
print frame2
print frame2.columns

In [12]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000:1.5, 2001:1.7, 2002:3.6}}
frame3 = DataFrame(pop)
print frame3
print DataFrame(pop, index=[2001, 2002, 2003])
pdata = {'Ohio': frame3['Ohio'][:-1], 'Nevada':frame3['Nevada'][:2]}
print DataFrame(pdata)
frame3.index.name = 'year'; frame3.columns.name = 'state'
print frame3
print frame3.values
print frame2.values

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6
      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN
      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6
[[ nan  1.5]
 [ 2.4  1.7]
 [ 2.9  3.6]]

NameError: name 'frame2' is not defined

## 索引对象

### index对象不可修改，用户不能对其进行修改

In [13]:
obj = Series(range(3), index=['a', 'b', 'c'])
print obj
index = obj.index
print index
#index[1] = 'd' #index不可修改
index = pd.Index(np.arange(3))
print index
obj2 = Series([1.5, -2.5, 0], index=index)
obj2.index is index
print obj2
print frame3

a    0
b    1
c    2
dtype: int64
Index([u'a', u'b', u'c'], dtype='object')
Int64Index([0, 1, 2], dtype='int64')
0    1.5
1   -2.5
2    0.0
dtype: float64
state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6