# 处理缺失数据

In [6]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from numpy import nan as NA

In [4]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
print string_data
print string_data.isnull()
string_data[0] = None
print string_data.isnull()

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
0    False
1    False
2     True
3    False
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool

## 滤除缺失数据

In [12]:
data = Series([1, NA, 3.5, NA, 7])
print data.dropna()
print data[data.notnull()]
print data.notnull()

0    1.0
2    3.5
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64
0     True
1    False
2     True
3    False
4     True
dtype: bool

In [19]:
data = DataFrame([[1., 6.5, 3.], [1., NA, NA],
                 [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
print data
print '----'
print cleaned
print data.dropna(how = 'all')
print '----'
data[4] = NA
print data.dropna(axis = 0, how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
----
     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0
----
     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [26]:
df = DataFrame(np.random.randn(7, 3))
df.ix[:4, 1] = NA
df.ix[:2, 2] = NA
print df
print df.dropna(thresh = 3)

          0         1         2
0  0.924487       NaN       NaN
1 -0.063235       NaN       NaN
2 -0.159001       NaN       NaN
3 -1.943630       NaN  1.572597
4 -0.109353       NaN  0.510923
5 -1.214197  0.675242  1.258993
6 -0.258135 -0.066050  2.532439
          0         1         2
5 -1.214197  0.675242  1.258993
6 -0.258135 -0.066050  2.532439

## 填充缺失数据

In [31]:
print df.fillna(0)
print df.fillna({1: 0.5, 2: -1})
_ = df.fillna(0, inplace = True) #总是返回被填充对象的引用
print _

          0         1         2
0  0.924487  0.000000  0.000000
1 -0.063235  0.000000  0.000000
2 -0.159001  0.000000  0.000000
3 -1.943630  0.000000  1.572597
4 -0.109353  0.000000  0.510923
5 -1.214197  0.675242  1.258993
6 -0.258135 -0.066050  2.532439
          0         1         2
0  0.924487  0.000000  0.000000
1 -0.063235  0.000000  0.000000
2 -0.159001  0.000000  0.000000
3 -1.943630  0.000000  1.572597
4 -0.109353  0.000000  0.510923
5 -1.214197  0.675242  1.258993
6 -0.258135 -0.066050  2.532439
None

In [35]:
df = DataFrame(np.random.randn(6, 3))
df.ix[2:, 1] = NA #从第2行开始，第1列置为NA
df.ix[4:, 2] = NA #从第4行开始，第2列置为NA
print df
print df.fillna(method = 'ffill') #广播填充
print df.fillna(method = 'ffill', limit = 2)
data = Series([1., NA, 3.5, NA, 7])
print data.fillna(data.mean())

          0         1         2
0 -1.172572  0.521980 -0.119164
1  2.595734  0.016958  1.923812
2  1.372027       NaN -1.648235
3  0.716543       NaN -0.437028
4 -0.510810       NaN       NaN
5  0.647002       NaN       NaN
          0         1         2
0 -1.172572  0.521980 -0.119164
1  2.595734  0.016958  1.923812
2  1.372027  0.016958 -1.648235
3  0.716543  0.016958 -0.437028
4 -0.510810  0.016958 -0.437028
5  0.647002  0.016958 -0.437028
          0         1         2
0 -1.172572  0.521980 -0.119164
1  2.595734  0.016958  1.923812
2  1.372027  0.016958 -1.648235
3  0.716543  0.016958 -0.437028
4 -0.510810       NaN -0.437028
5  0.647002       NaN -0.437028
0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64