# 基本功能

## 重新索引

In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [ ]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print obj
print obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value = 0)
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print obj3
print obj3.reindex(range(6), method='ffill')

In [ ]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index = ['a', 'c', 'd'],
                 columns = ['Ohio', 'Texas', 'California'])
print frame
frame2 = frame.reindex(['b', 'c', 'd', 'a'])
print frame2
states = ['Texas', 'Utah', 'California']
print frame.reindex(columns = states)
print frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill', columns = states)

## 丢弃指定轴上的项

In [ ]:
obj = Series(np.arange(5.), index = ['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
print new_obj
print obj.drop(['d', 'c'])
print obj #原数据不变

In [6]:
data = DataFrame(np.arange(16).reshape((4, 4)), 
                index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                columns = ['one', 'two', 'three', 'four'])
print data
print data.drop(['Colorado', 'Ohio'])
print data.drop('two', axis = 1) #意思是删除'two',并告诉它删除'two'的每一行
print data.drop('Ohio', axis = 0) #意思是删除'Ohio', 并告诉它删除'two'的每一列
data.index.name = 'index0'
print data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
index0
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

## 索引、选取和过滤

In [ ]:
obj = Series(np.arange(4.), index = ['a', 'b', 'c', 'd'])
print obj
print obj['a':'c']
obj['a':'c'] = 5
print obj

In [ ]:
data = DataFrame(np.arange(16).reshape((4,4)),
                 index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns = ['one', 'two', 'three', 'four'])
print data
print '---'
print data['two']
print data[['three', 'one']]
print data[:2]
print data[data['three'] > 5]
print data < 5
data[data < 5] = 0
print data
print data.ix['Colorado', ['two', 'three']]
print data.ix[['Colorado', 'Utah'], [3, 0, 1]]
print '----'
print data.ix[2] #取第2行
print data.ix[:'Utah', 'two']
print data.ix[data.three > 5, :3]
print data.xs('New York') #xs, 选取单行
print data.xs('one', axis = 1) #xs, 选取单列，但要指定axis = 1

## 算术运算和数据对齐

In [ ]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index = ['a', 'c', 'd', 'e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index = ['a', 'c', 'e', 'f', 'g'])
print s1,s2
print s1 + s2

In [ ]:
df1 = DataFrame(np.arange(9.).reshape((3,3)), columns = list('bcd'),
               index = ['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12.).reshape((4, 3)), columns = list('bde'),
               index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
print df1, df2
print df1 + df2

## 在算术方法中填充值

In [ ]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns = list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns = list('abcde'))
print df1
print df2
print df1 + df2
print df1.add(df2, fill_value = 0)
print df1.reindex(columns = df2.columns, fill_value = 0)

## DataFrame和Series之间的运算

In [ ]:
arr = np.arange(12.).reshape((3, 4))
print arr
print arr[0]
print arr - arr[0]

In [ ]:
frame = DataFrame(np.arange(12.).reshape((4, 3)), columns = list('bde'),
                 index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.ix[0]
print frame
print series
print frame - series
series2 = Series(range(3), index = ['b', 'e', 'f'])
print series2
series3 = frame['d']
print series3
print frame.sub(series3, axis = 0)

## 函数应用和映射

In [9]:
frame = DataFrame(np.random.randn(4, 3), columns = list('bde'),
                 index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
print frame
print np.abs(frame)
f = lambda x: x.max() - x.min()
print frame.apply(f) #axis = 0, 默认应用到列
print frame.apply(f, axis = 1) #axis = 1, 应用到行
def f(x):
    return Series([x.min(), x.max()], index = ['min', 'max'])
frame.apply(f)

               b         d         e
Utah   -0.318452  0.142858  1.276343
Ohio    1.062474 -0.399831 -0.165129
Texas  -1.554773  0.668047 -0.757686
Oregon -0.358320 -0.987215 -1.033038
               b         d         e
Utah    0.318452  0.142858  1.276343
Ohio    1.062474  0.399831  0.165129
Texas   1.554773  0.668047  0.757686
Oregon  0.358320  0.987215  1.033038

            b         d         e
min -1.554773 -0.987215 -1.033038
max  1.062474  0.668047  1.276343