In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
#%matplotlib inline

In [102]:
data = pd.read_csv('./data/list-copy.txt', header=None, names=['file'])
data.head()

       file
0  sh600487
1  sh600568
2  sh600310
3  sz000910
4  sh600343

In [103]:
data.head()

       file
0  sh600487
1  sh600568
2  sh600310
3  sz000910
4  sh600343

In [124]:
filename = 'sh600568'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
z = gdrs[0].ix[1:1, 1:]
z.insert(0, 'file', filename, allow_duplicates=False)
z
count = 0
def mergefiles(filename):
    #print filename
    global z
    global count
    count += 1
    print 'count: %d\r' %count,
    try:
        gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
        x = gdrs[0].ix[1:1, 1:]
        x.insert(0, 'file', filename, allow_duplicates=False)
        z = pd.merge(z, x, how='outer')
    except:
        print 'exception: ' + filename
        pass
    #print x
    #del x
    #print y

In [126]:
data.file.apply(mergefiles)
z.to_html('./data/360up.html', na_rep='/')

In [107]:
z.to_pickle('./data/360up_250.pickle')

In [111]:
z.to_html('./data/360up.html', na_rep='/')

In [51]:
gdrs = pd.read_html('./data/gdrs/sh600568', header=0)
gdrs[0]

,Unnamed: 0,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
0,股东人数(户),1.51万,1.77万,1.53万,1.23万,1.23万,1.54万,1.27万,1.30万,1.76万,1.91万
1,较上期变化(%),-14.48,15.73,24.28,-0.28,-19.60,21.16,-2.75,-25.78,-8.07,-7.50
2,人均流通股(股),3.34万,2.86万,2.39万,2.97万,2.94万,2.35万,2.85万,2.77万,2.06万,1.89万
3,较上期变化(%),16.93,19.53,-19.54,1.10,25.19,-17.47,2.82,34.73,8.78,107.54
4,筹码集中度,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中,非常集中
5,股价(元),17.40,15.67,23.91,24.14,24.14,17.80,16.16,13.84,13.26,9.08
6,人均持股金额(元),58.2万,44.8万,57.2万,71.8万,71.0万,41.8万,46.0万,38.3万,27.3万,17.2万
7,前十大股东持股合计(%),60.79,57.20,55.27,55.65,55.65,55.66,61.06,57.47,55.28,55.99
8,前十大流通股东持股合计(%),42.03,38.16,40.24,41.36,41.36,40.48,56.51,56.51,54.11,54.96

In [68]:
gdrs1 = gdrs[0].ix[0:0, 1:]
gdrs1

,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
0,1.51万,1.77万,1.53万,1.23万,1.23万,1.54万,1.27万,1.30万,1.76万,1.91万

In [42]:
filename = 'sh600568'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
x = gdrs[0].ix[1:1, 1:]
x.insert(0, 'file', filename, allow_duplicates=False)
x

,file,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
1,sh600568,-14.48,15.73,24.28,-0.28,-19.60,21.16,-2.75,-25.78,-8.07,-7.50

In [53]:
filename = 'sz300262'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
y = gdrs[0].ix[1:1, 1:]
y.insert(0, 'file', filename, allow_duplicates=False)
y

,file,16-07-29,16-07-15,16-06-30,16-06-15,16-05-31,16-05-13,16-04-29,16-04-15,16-03-31,16-03-15
1,sz300262,-1.54,-2.31,-7.19,0.26,-1.68,-1.85,-3.30,0.04,-5.84,-0.28

In [54]:
filename = 'sh600487'
gdrs = pd.read_html('./data/gdrs/' + filename, header=0)
z = gdrs[0].ix[1:1, 1:]
z.insert(0, 'file', filename, allow_duplicates=False)
z

,file,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-04-08,15-03-31,14-12-31,14-09-30,14-06-30
1,sh600487,-5.04,-12.10,54.72,124.84,4.16,-4.12,23.73,-2.93,-17.10,-1.28

In [55]:
x = pd.merge(x,y, how='outer')
x = pd.merge(x,z, how='outer')
x

,file,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,...,16-08-15,16-07-29,16-07-15,16-06-15,16-05-31,16-05-13,16-04-29,15-04-08,16-04-15,16-03-15
0,sh600568,-14.48,15.73,24.28,-0.28,-19.60,21.16,-2.75,-25.78,-8.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sz002271,-9.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.02,-8.94,-12.98,-2.94,-2.70,3.45,0.23,NaN,NaN,NaN
2,sh600487,-5.04,-12.10,54.72,124.84,4.16,23.73,NaN,-2.93,-17.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.12,NaN,NaN
3,sz300262,-7.19,-5.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.54,-2.31,0.26,-1.68,-1.85,-3.30,NaN,0.04,-0.28

In [56]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 23 columns):
file        4 non-null object
16-06-30    4 non-null object
16-03-31    3 non-null object
15-12-31    2 non-null object
15-09-30    2 non-null object
15-06-30    2 non-null object
15-03-31    2 non-null object
15-03-12    1 non-null object
14-12-31    2 non-null object
14-09-30    2 non-null object
14-06-30    2 non-null object
16-09-14    1 non-null object
16-08-31    1 non-null object
16-08-15    1 non-null object
16-07-29    2 non-null object
16-07-15    2 non-null object
16-06-15    2 non-null object
16-05-31    2 non-null object
16-05-13    2 non-null object
16-04-29    2 non-null object
15-04-08    1 non-null object
16-04-15    1 non-null object
16-03-15    1 non-null object
dtypes: object(23)
memory usage: 768.0+ bytes

In [75]:
gdrs[0].ix[2:2, 1:]

,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-03-31,15-03-12,14-12-31,14-09-30,14-06-30
2,3.34万,2.86万,2.39万,2.97万,2.94万,2.35万,2.85万,2.77万,2.06万,1.89万

In [ ]:
data.join(gdrs1.ix[2:2, 1:])
data.join(lambda file: pd.read_html('./data/gdrs/', header=0)

In [2]:
data = pd.read_csv('./data/ztrz.txt', header=None, names=['file'])
data.head()

       file
0  sz300308
1  sz000736
2  sz002113
3  sz002722
4  sz002305

In [17]:
filename = 'sz300308'
gdrs = pd.read_html('./data/ztrz/' + filename, header=0)
z = gdrs[0].ix[1:1, 1:]
z.insert(0, 'file', filename, allow_duplicates=False)
z
count = 0
print count
def mergefiles(filename):
    #print filename
    global z
    global count
    count += 1
    #print 'count: %d\r' %count,
    try:
        gdrs = pd.read_html('./data/ztrz/' + filename, header=0)
        x = gdrs[0].ix[1:1, 1:]
        x.insert(0, 'file', filename, allow_duplicates=False)
        z = pd.merge(z, x, how='outer')
    except:
        print 'exception: ' + filename
        pass

0

In [18]:
data.file.apply(mergefiles)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
469    None
470    None
471    None
472    None
473    None
474    None
475    None
476    None
477    None
478    None
479    None
480    None
481    None
482    None
483    None
484    None
485    None
486    None
487    None
488    None
489    None
490    None
491    None
492    None
493    None
494    None
495    None
496    None
497    None
498    None
Name: file, dtype: object

In [19]:
z.to_html('./data/ztrz.html', na_rep='/')

In [20]:
z.to_csv('./data/ztrzresult.txt')

IOError: [Errno 13] Permission denied: './data/ztrzresult.txt'

In [16]:
z.sort_index().head()

,file,16-09-30,16-07-08,16-06-30,16-03-31,15-12-31,15-09-30,15-06-30,15-04-14,15-03-31,...,14-11-04,16-07-30,15-08-15,15-02-27,15-12-22,16-07-19,15-03-03,16-08-13,16-05-09,15-06-29
0,sh601789,-0.12,0.23,6.56,-19.01,-26.40,104.63,21.37,-4.18,4.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sh601801,-6.85,NaN,7.39,15.12,0.12,-8.87,9.60,NaN,-34.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sh603025,1.83,NaN,-7.13,-0.83,-3.99,-13.56,-27.66,NaN,--,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sh603669,2.44,NaN,-9.68,-8.65,-8.63,-17.00,-36.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sh603800,-13.96,NaN,-10.60,-38.39,5.10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN