In [2]:
%matplotlib inline

In [3]:
import tushare as ts
import pandas as pd
import numpy as np
import pickle

In [8]:
df = ts.get_h_data('002685', start='2012-06-12', end='2016-09-16')

with open('./data/002685.pickle', 'wb') as f:
    pickle.dump(df, f)

[Getting data:]#################

In [9]:
df.head()

             open   high  close    low      volume       amount
date
2016-09-14  10.94  11.10  11.04  10.59  23849245.0  258465807.0
2016-09-13  10.87  11.24  11.08  10.70  29037051.0  319345033.0
2016-09-12  10.50  10.80  10.80  10.15  20839332.0  219959779.0
2016-09-09  10.84  11.50  10.97  10.78  38944113.0  432021579.0
2016-09-08  10.80  11.08  10.97  10.45  38793802.0  417058737.0